{% import "macros/page-meta.html" as page_meta %}

{% macro list(pages) %}
<ul >
  {% for page in pages %}
  <li>
    <article>
      <a style="display:block; font-size: 20px; padding: 10px;" href="{{ page.permalink | safe }}">{{ page.title }}</a>

      {# {{ page_meta::date(page=page) }} #}
      {# {% if page.description %}<p>{{ page.description }}</p>{% endif %} #}
      {# {{ page_meta::terms(page=page, kind="tags", label="Tags") }} #}
   
    </article>
  </li>
  {% endfor %}
</ul>
{% endmacro list %}
