{% macro list(pages) %}
<ul>
  {% for page in pages %}
  <li class="article">
    <article>
      <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
      {% if page.date %}<p><time datetime="{{ page.date }}">{{ page.date }}</time></p>{% endif %}
      {% if page.description %}<p>{{ page.description }}</p>{% endif %}
      {% if page.taxonomies.tags %}
      <p>
        Tags:
        {% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% endif %}
    </article>
  </li>
  {% endfor %}
</ul>
{% endmacro list %}
