<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% if config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}
    {% block head %}{% endblock head %}
  </head>

  <body>
    <section>
      <div>
        <header>
          <a href="{{ get_url(path='/') }}">Home</a>
          <a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a>
          <a href="{{ get_url(path='tags') }}">Tags</a>
          <a href="{{ get_url(path='categories') }}">Categories</a>
          <a href="{{ get_url(path='@/about/_index.md') }}">About</a>
        </header>

        <main>{% block content %} {% endblock content %}</main>
      </div>
    </section>
  </body>
</html>
