<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% if config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
{% block head %}{% endblock head %}
  </head>

  <body>
    <section >
      <div >
        {% include "partials/nav.html" %}

        <main >{% block content %} {% endblock content %}</main>

        {% include "partials/footer.html" %}
      </div>
    </section>
  </body>
</html>
