{% extends "base.html" %}

{% import "macros/page-meta.html" as page_meta %}
{% import "macros/toc.html" as toc %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block head %}
{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
{% endblock head %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
    {{ page_meta::date(page=page) }}

    {# 文章描述 #}
    {# {% if page.description %}<p>{{ page.description }}</p>{% endif %} #}
      
    {{ page_meta::terms(page=page, kind="tags", label="Tags") }}
    {{ page_meta::terms(page=page, kind="categories", label="Categories") }}
  </header>

  {# 文章内容目录 #}
  {# {{ toc::render(toc=page.toc) }} #}

  <div>
    {{ page.content | safe }}
  </div>

  <nav>
    {% if page.higher %}<a href="{{ page.higher.permalink | safe }}">Newer: {{ page.higher.title }}</a>{% endif %}
    {% if page.lower %}<a href="{{ page.lower.permalink | safe }}">Older: {{ page.lower.title }}</a>{% endif %}
  </nav>
</article>
{% endblock content %}
