{% extends "base.html" %}

{% import "macros/post-list.html" as post_list %}
{% import "macros/pagination.html" as pagination %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block content %}
<section>
  <h1>{{ section.title }}</h1>
  {% if section.description %}<p>{{ section.description }}</p>{% endif %}
  {{ section.content | safe }}

  {% if paginator %}
  {% set pages = paginator.pages %}
  {% else %}
  {% set pages = section.pages %}
  {% endif %}

  {{ post_list::list(pages=pages) }}
  {% if paginator %}
  {{ pagination::pager(paginator=paginator) }}
  {% endif %}
</section>
{% endblock content %}
