{% extends "base.html" %}

{% import "macros/pagination.html" as pagination %}

{% block title %}{{ term.name }} | {{ taxonomy.name | title }} | {{ config.title }}{% endblock title %}

{% block content %}
<section >
  <h1>{{ term.name }}</h1>

  {% if paginator %}
  {% set pages = paginator.pages %}
  {% else %}
  {% set pages = term.pages %}
  {% endif %}

  <ul >
    {% for page in pages %}
    <li>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      {% if page.date %}<time datetime="{{ page.date }}">{{ page.date }}</time>{% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator %}
  {{ pagination::pager(paginator=paginator) }}
  {% endif %}
</section>
{% endblock content %}
